body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}
/* 內减模式 */
* {
    box-sizing: border-box;
}

body {
    font: 16px/1.5/* 1.5倍的行高 */ "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
      "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
  }

ul,
ol {
  list-style: none;
}

em,
i {
  font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
  }

img {
    vertical-align: middle;
    /* 图片文字默认middle对齐 */
}

input {
    border: none;
    outline: none;
    color: #333;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
