
img{
    width: 150px;
}

.fixed-calculator{
    position: fixed;
    top: 550px;
    right: 60px;
}

button{
    display: inline-block;
    margin: 10px 0;
}

select{
    width: 200px; /* 设置宽度 */
    height: 40px; /* 设置高度 */
    font-size: 20px; /* 设置字体大小 */
}

.container-fluid{
    float: left;
    position: fixed;
    top: 220px;
    margin-left: 20px;
}

.tops,
.unders,
.overcoat,
.dress
{
    margin-left: 220px;
}

body
{
    background-image: url('../Images/背景5.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

.button-container1{
    text-align: center;
    width: 100px;
}

.button-container2{
    text-align: center;
    width: 200px;
}

.adapt{
    margin: 18px 0;
    font-size: 22px;
}