body{
    margin: 0 auto;
    background-image: url("../images/背景4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 80px;
}

.head{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    font-family: "华文行楷";

}

.tipsone,
.tipstwo,
.tipsthree,
.tipsfour,
.tipEnd{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 682px;
    width: 1165px;
    text-align: center;
    border-radius: 20px;
    background-size: cover;
}

.tipsone{
    margin-top: 150px;
    background-image: url(../images/图片2.png);

}

.tipstwo{
    background-image: url(../images/图片9.png);
}

.tipsthree{
    background-image: url(../images/图片3.png);
}

.tipsfour{
    background-image: url(../images/图片4.png);
}

.tipEnd{
    width: 915px;
    height: 121px;
    background-image: url(../images/图片5.png);
}

.bottom{
    height: 70px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 60px;
    background-color: rgb(31, 145, 25);
    text-align: center;
    line-height: 70px;
    border-bottom: 5px solid rgba(218, 238, 255, 0.397);
    border-right: 5px solid rgba(67, 87, 105, 0.5);
    color: aliceblue;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #333;
}

.bottom:hover{
    background-color: rgba(32, 140, 27, 0.538);
    border-bottom: 5px solid rgba(218, 238, 255, 0.397);
    border-right: 5px solid rgba(67, 87, 105, 0.315);
}

.bottom:active{
    border: 0px;  
    transform: translateY(5px);
}

#additional-content {
    position: relative;
    bottom: 5px;
    font-size: 15px;
	color: #888;
    text-align: center;
    transition: color 0.3s;
  }
	
#additional-content:hover {
    color: #333; 
  }

a#help{
    text-decoration: none;
    color: #337ab7;
}

a#help:hover{
    text-decoration-line: underline;
    color: #23527c;
}

#gif-container {
    position: fixed;
    bottom: 5px;
    left: 0px;
    cursor: pointer;
  }
