.canvas-container {
    position: relative;
    margin:auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  canvas {
    position: relative;
    margin:10px auto;
    width: 100%;
    height: 100%;
    display: block;
  }
  

.wrapper{
    height :52px;
    width: 1090px;
    margin: 20px auto;
    text-align: center;
}

.wrapper a{
    padding :16px;
    font-size: 28px;
    color: black;
    font-family: 方正粗黑宋简体;
}

.text{
    border: 2px solid #4CAF50; 
    padding: 10px;
    border-radius: 10px; 
    width: 880px;
  }

body{
    background-image: url('../Images/结果背景.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

img{
    display: block;
    margin:auto;
    width: 600px;
}

.return {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
